/* RESETS */
html,
body,
img,
h1,
h2,
h3,
p,
li,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div,
header,
main,
footer,
input,
select,
textarea {
    box-sizing: border-box;
}

h2,
h3 {
    font-weight: normal;
}

h1,
h2,
h3,
p {
    line-height: 1.4em;
}

/* CSS VARS */

body {
    --sb-dark-primary: #325aa2;
    --sb-light-primary: #d0d6f1;
    --sb-secondary: #f3c11e; /* darker than logo color, to stand out */
    --sb-bg-primary: #f6f8Fd;
    --header-height: 80px;
    --shadow: 0 5px 20px -3px rgba(0, 0, 0, .2);
}

body,
textarea,
input {
    font-family: 'Avenir', 'Helvetica', sans-serif;
}

/* APP STYLES */

body {
    background: var(--sb-bg-primary);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    color: var(--sb-dark-primary);
}

header,
footer {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #6c6c6c;
}

footer nav {
    margin: 0 auto;
    margin-bottom: 32px;
}

#logo {
    height: 100%;
    padding: 20px 0;
}

#logo img {
    height: 100%;
    width: 100$;
    object-fit: fill;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

nav a {
    color: var(--sb-dark-primary);
    text-decoration: none;
    cursor: pointer;
    margin-left: 18px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin: auto;
    margin-top: var(--header-height);
    padding: 20px;
    width: 86%;
    max-width: 1200px;
    overflow: hidden;
}

.splits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.lsplit,
.rsplit {
    height: 520px;
    flex-shrink: 1;
    width: 50%;
}

.videoThumbs {
    position: relative;
    height: 100%;
}

.videoThumbs .thumb {
    --thumb-height: 180px;

    position: absolute;
    border-radius: 6px;
    overflow: hidden;
    height: var(--thumb-height);
    width: calc(var(--thumb-height) * 16 / 9);
    background: var(--sb-light-primary);
    box-shadow: var(--shadow);
    transform: translate(-50%, -50%);
    transition: transform .3s;
}

.videoThumbs .closeButton {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s;
    transition-delay: 0s;
}

.videoThumbs .video {
    top: 44%;
    left: 42%;
    background-image: url('/img/thumbvideo.jpg');
    background-size: cover;
}

.videoThumbs .first {
    top: 55%;
    left: 57%;
    background-image: url('/img/thumb1.jpg');
    background-size: cover;
}

.videoThumbs .second {
    top: 35%;
    left: 66%;
    background-image: url('/img/thumb2.jpg');
    background-size: cover;
}

.videoThumbs iframe {
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
    height: 100%;
    width: 100%;
}

.videoThumbs.playing iframe {
    opacity: 1;
    pointer-events: all;
}

.videoThumbs.playing .thumb {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
}

.videoThumbs.playing .closeButton {
    opacity: .7;
    pointer-events: all;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    color: grey;
    font-size: 16px;
    transition: opacity: .5s;
    transition-delay: .7s;
}

.videoThumbs.playing .closeButton::after {
    content: '';
}

.vprop {
    font-size: 40px;
    margin: 32px 0;
}

h1 em {
    color: var(--sb-dark-primary);
    font-style: normal;
}

.signupGroup {
    min-width: 320px;
    width: 20%;
    margin-top: 32px;
}

input,
select,
textarea {
    background: var(--sb-light-primary);
    padding: 8px 12px;
}

button {
    background: var(--sb-dark-primary);
    color: #fff;
    padding: 10px 14px;
    cursor: pointer;
    transition: opacity .2s;
}

input,
select,
textarea,
button {
    display: block;
    border: 0;
    border-radius: 6px;
    width: 100%;
    height: 42px;
    font-size: 22px;
    margin-top: 18px;
    padding-top: 8px;
}

button:hover {
    opacity: .9;
}
button:hover::after {
    transform: translateX(14px);
}

button::after {
    content: '❯';
    margin-left: 12px;
    transition: transform .15s;
    display: inline-block;
}

.inputGroup,
.questionGroup {
    margin-bottom: 40px;
}

.inputGroup.required h2::after {
    content: '*';
    margin-left: 8px;
    color: #f27b03;
}

p {
    font-size: 18px;
    margin: 24px 0;
}

p a {
    color: var(--sb-dark-primary);
}

textarea {
    resize: none;
    height: unset;
    min-height: 240px;
}

.signupLink {
    background: var(--sb-light-primary);
    border-radius: 4px;
    padding: 4px 10px;
}

h2 {
    font-weight: bold;
}

.third {
    margin: 0 8px;
}

.quote {
    background: #fff;
    box-shadow: var(--shadow);
    border-radius: 18px;
    padding: 12px 16px;
    font-size: 24px;
    font-style: italic;
    margin: 0 8px;
}

.quote p {
    text-align: right;
    margin-bottom: 0;
}

.screenshots img {
    box-shadow: var(--shadow);
    max-width: 100%;
}

@media (max-width: 600px) {
    main {
        width: 98%;
    }

    .signupGroup {
        width: 100%;
    }

    .splits {
        flex-direction: column;
    }

    .lsplit,
    .rsplit {
        width: 100%;
    }
}

