/* RESETS */
html,
body,
img,
h1,
h2,
h3,
p,
li,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div,
heade,
main,
footer,
input,
select,
textarea {
    box-sizing: border-box;
}

h2,
h3 {
    font-weight: normal;
}

h1,
h2,
h3,
p {
    line-height: 1.4em;
}

/* CSS VARS */

body {
    --sb-dark-purple: #634dd5;
    --sb-light-purple: #d9d3f3;
    --sb-yellow: #f3c11e;
    --sb-bg-purple: #efedf6;
    --header-height: 80px;
}

/* APP STYLES */

body {
    font-family: 'Helvetica', sans-serif;
    background: var(--sb-bg-purple);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    color: var(--sb-dark-purple);
}

header,
footer {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #6c6c6c;
}

footer {
    margin-bottom: 40px;
}

#logo {
    height: 100%;
    padding: 20px 0;
}

#logo img {
    height: 100%;
    width: 100$;
    object-fit: fill;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

nav a {
    color: var(--sb-dark-purple);
    text-decoration: none;
    cursor: pointer;
    margin-left: 18px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin: auto;
    margin-top: var(--header-height);
    padding: 20px;
    width: 80%;
    max-width: 700px;
}

.vprop {
    font-size: 40px;
    margin: 32px 0;
}

h1 em {
    color: var(--sb-yellow);
    font-style: normal;
}

.signupGroup {
    min-width: 320px;
    width: 20%;
    margin: 64px 0;
    margin-left: auto;
}

input,
select,
textarea {
    background: var(--sb-light-purple);
    padding: 8px 12px;
}

button {
    background: var(--sb-dark-purple);
    color: #fff;
    padding: 10px 14px;
    cursor: pointer;
    transition: opacity .2s;
}

input,
select,
textarea,
button {
    display: block;
    border: 0;
    border-radius: 6px;
    width: 100%;
    height: 42px;
    font-size: 22px;
    margin-top: 18px;
}

button:hover {
    opacity: .9;
}
button:hover::after {
    transform: translateX(14px);
}

button::after {
    content: '❯';
    margin-left: 12px;
    transition: transform .15s;
    display: inline-block;
}

.inputGroup,
.questionGroup {
    margin-bottom: 40px;
}

.inputGroup.required h2::after {
    content: '*';
    margin-left: 8px;
    color: #f27b03;
}

p {
    font-size: 18px;
    margin: 24px 0;
}

p a {
    color: var(--sb-dark-purple);
}

textarea {
    resize: none;
    height: unset;
}

@media (max-width: 600px) {
    main {
        width: 98%;
    }

    .signupGroup {
        width: 100%;
    }
}
